@model X.PagedList.IPagedList<UI.ViewModels.Patients.PatientVM>
@using X.PagedList.Mvc.Core;
@using UI.ViewModels.Patients;

@{
    ViewData["Title"] = "Index";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                FName
            </th>
            <th>
                LName
            </th>
            <th>
                Gender
            </th>
            <th>
                BirthDate
            </th>
            <th>
                Doctor
            </th>
            <th>
                Medication
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<form method="get" asp-action="index">
    <label for="name">
        Search by Name:
    </label>
    <input type="text" id="FName" name="name" />
    <button type="submit"> Search </button>
</form>
