@model X.PagedList.IPagedList<UI.ViewModels.Doctors.DoctorVM>
@using X.PagedList.Mvc.Core;
@using UI.ViewModels.Doctors;

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Doctor";
}

<h1>Doctors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Salary
            </th>
            <th>
                Hire Date
            </th>
            <th>
                Username
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (DoctorVM item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HireDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }          
    </tbody>
</table>
<div>
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>
<form method="get" asp-action="index">
    <label for="name">
        Search by Name:
    </label>
    <input type="text" id="FName" name="name" />
    <button type="submit"> Search </button>
</form>

